{% import "bootstrap/wtf.html" as wtf %}
{% include "header.html" %}
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="{{url_for('home')}}" class="active">Home</a></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">

						<!-- Introduction -->
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>Coffee Club</h2>
										</header>
										<p>
											Write about club
										</p>
										<p>
											Something about club
										</p>
										<p>
											Something more
										</p>
									</div>
									<span class="image"><img src="#" alt="" /></span>
								</div>
								<footer class="major">

								</footer>
							</section>
					</div>

{% include "footer.html" %}